### Import Libraries

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cufflinks as cf
import ast
from itertools import chain

In [63]:
def split(word):
    return [char for char in word]

def chainer(s):
    """
    Return list from series of comma-separated string
    :param s: string
    :return: list
    """
    return list(chain.from_iterable(s.str.split(',')))

def cleaner(x):
    import re
    new = re.sub(r"'" , '', x)
    new = re.sub(r"[,@\'?\.$%[_]", '', new)
    new = re.sub(r"]", '', new)

    return new

In [68]:
# Notebook parameters
data_name = 'papers_w_JELcode.csv'
data_path = '../data/'
df_out = 'coauthor_list.csv'

In [69]:
df = pd.read_csv(data_path + data_name)
print(df.shape)
print(df.columns)
df.head()

(3126, 71)
Index(['title_x', 'idpaper_2', 'journal', 'journal_num', 'year', 'month',
       'volume', 'issue', 'idpaper', 'jelcodes', 'keywords', 'abstract',
       'start_page', 'end_page', 'num_words', 'num_words_90_flag', 'idauthor',
       'author', 'prop_women', 'num_authors', 'gender_group_type',
       'sole_or_coauthors', 'num_pages', 'num_pages_dmean',
       'flesch_kincaid_grade_level', 'log_flesch_kincaid_grade_level',
       'flesch_kincaid_reading_ease', 'log_flesch_kincaid_reading_ease',
       'dale_chall', 'log_dale_chall', 'coleman_liau_index',
       'log_coleman_liau_index', 'automated_readability_index',
       'log_automated_readability_index', 'american_economic_review',
       'econometrica', 'journal_of_pol_economy',
       'quarterly_journal_of_economics', 'review_of_economic_studies',
       'coauthors', 'single_author', 'both_genders', 'only_females',
       'only_males', 'num_sentences', 'num_syllables', 'observation',
       'authors', 'jelcodes_letter', 'jelcodes_text', 'jel_dummy_A',
       'jel_dummy_B', 'jel_dummy_C', 'jel_dummy_D', 'jel_dummy_E',
       'jel_dummy_F', 'jel_dummy_G', 'jel_dummy_H', 'jel_dummy_I',
       'jel_dummy_J', 'jel_dummy_K', 'jel_dummy_L', 'jel_dummy_M',
       'jel_dummy_N', 'jel_dummy_O', 'jel_dummy_P', 'jel_dummy_Q',
       'jel_dummy_R', 'jel_dummy_Y', 'jel_dummy_Z', 'tags'],
      dtype='object')

,title_x,idpaper_2,journal,journal_num,year,month,volume,issue,idpaper,jelcodes,...,jel_dummy_L,jel_dummy_M,jel_dummy_N,jel_dummy_O,jel_dummy_P,jel_dummy_Q,jel_dummy_R,jel_dummy_Y,jel_dummy_Z,tags
0,optimal adoption of complementary technologies,120009011529,American Economic Review,1,2000,March,90,1,1.200090e+09,E22|G31|O33|D24,...,0,0,0,1,0,0,0,0,0,"['O', 'D', 'G', 'E']"
1,collateral damage: effects of the japanese ban...,120009013045,American Economic Review,1,2000,March,90,1,1.200090e+09,G21|E44,...,0,0,0,0,0,0,0,0,0,"['G', 'E']"
2,endogenous inequality in integrated labor mark...,120009014672,American Economic Review,1,2000,March,90,1,1.200090e+09,J41| J71,...,0,0,0,0,0,0,0,0,0,['J']
3,"labor-market integration, investment in risky ...",120009017395,American Economic Review,1,2000,March,90,1,1.200090e+09,R23|J24|J31|J61,...,0,0,0,0,0,0,1,0,0,"['J', 'R']"
4,unequal societies: income distribution and the...,1200090196129,American Economic Review,1,2000,March,90,1,1.200090e+09,D31|P16|I22|E62,...,0,0,0,0,1,0,0,0,0,"['P', 'E', 'I', 'D']"

In [70]:
df['tags'] = df['tags'].apply(lambda x: ast.literal_eval(x))

In [71]:
lens = df['idauthor'].str.split(',').map(len)

In [88]:
author_df = pd.DataFrame({'tags': np.repeat(df['tags'], lens),
                    'title': np.repeat(df['title_x'], lens),
                    'idauthor': chainer(df['idauthor']),
                    'author': chainer(df['author'])})

author_df['idauthor'] = author_df['idauthor'].apply(lambda x: cleaner(x))
author_df['author'] = author_df['author'].apply(lambda x: cleaner(x))

In [91]:
author_df.to_csv(data_path + df_out, index_label=False)
author_df.head()

,tags,title,idauthor,author
0,"[O, D, G, E]",optimal adoption of complementary technologies,p00681,boyan jovanovic
0,"[O, D, G, E]",optimal adoption of complementary technologies,p01338,dmitriy stolyarov
1,"[G, E]",collateral damage: effects of the japanese ban...,p01546,eric rosengren
1,"[G, E]",collateral damage: effects of the japanese ban...,p02544,joe peek
2,[J],endogenous inequality in integrated labor mark...,p00544,avner shaked

In [100]:
'p01338' in list(author_df['idauthor'].astype(str))

True